<h1>このスレッドを本当に削除しますか？</h1>
<%= flash[:alert] %>
<h1>
  <div class="newthread_title">
    <%= @thread.title %>
  </div>
</h1>
<%= form_with(model: @thread, method: :delete, local: true, class:'f_delete') do |f| %>
  <div class="delete_mandatory">スレッド作成時のパスワードを入力してください</div>
  <%= f.text_field :again_password , :size=>"80" ,class:'again_password' %>
  <%= f.submit "削除" , class:'sousin' %>
<% end %>