<div style="text-align: center">
  <%= image_tag 'weblogo.jpg', class: 'logo', alt: '３ちゃんねる' %>
</div>
  <div style="text-align: center">
    <%= form_with url: tops_index_path do |f| %>
      <%= f.text_field :search ,:size=>"80" ,:placeholder=>"スレタイ検索"%>
      <%= f.submit :'検索' %>
    <% end %>
  </div>
  <%= form_with url: newthreads_new_path do |f| %>
    <%= f.submit :'新規スレッド作成' %>
  <% end %>
<p>Find me in app/views/tops/index.html.erb</p>
