<div style="text-align: center">
  <%= link_to tops_index_path do %>
    <%= image_tag 'weblogo.jpg', class: 'logo', alt: '３ちゃんねる' %>
  <% end %>
</div>
  <div class="kensaku">
    <%= form_with url: tops_index_path do |f| %>
      <%= f.text_field :search ,:size=>"80" ,:placeholder=>"スレタイ検索"%>
      <%= f.submit :'検索' %>
    <% end %>
  </div>
<%= link_to '新規スレッド作成', new_newthread_path , class: 'btn-cross' %>
<%= @thread.each.with_index(1) do |newthreas, i| %>
  <%= link_to newthreads_path(newthreas.id), class: "titles" %>
<% end %>