<div class="author-s"><%= link_to '製作者の声', tops_author_path , class: 'author' %>
</div>
  <div style="text-align: center">
    <%= link_to root_path do %>
      <%= image_tag 'web_logo.png', class: 'logo', alt: '３ちゃんねる' %>
    <% end %>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <div class="kensaku">
        <%= form_with url: newthreads_search_path, local: true, method: :get do |f| %>
          <%= f.text_field :keyword ,:placeholder=>"スレタイ検索" , class: "keyword" %>
          <%= f.submit :'検索' ,:title => nil %>
        <% end %>
        <div>未入力で検索をかけると過去記事一覧が出ます</div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-lg-5 col-xs-offset-0 col-lg-offset-2">
        <div class="flame">
          <span class="flame-title">新規スレッド</span>
          <ul>
            <% @thread.each do |thread, i| %>
              <li><%= link_to "#{thread.title.truncate(20)}", posts_path(thread.id), class: "titles" %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-xs-10 col-lg-5 col-xs-offset-2 col-lg-offset-0">
        <%= link_to '新規スレッド作成', new_newthread_path , class: 'btn-cross' %>
      </div>
  </div>
</div>
