<div class="author-s"><%= link_to '製作者の声', tops_author_path , class: 'author' %>
</div>
  <div style="text-align: center">
    <%= link_to root_path do %>
      <%= image_tag 'web_logo.png', class: 'logo', alt: '３ちゃんねる' %>
    <% end %>
  </div>
  <div class="kensaku">
    <%= form_with(model: @search, url: searchs_new_path, local: true, method: :get) do |f| %>
      <%= f.text_field :keyword ,:size=>"80" ,:placeholder=>"スレタイ検索"%>
      <%= f.submit :'検索' ,:title => nil %>
    <% end %>
  </div>
<span class="topinline">
  <div class="flame">
    <span class="flame-title">新規スレッド</span>
    <ul>
      <% @thread.each do |thread, i| %>
        <li><%= link_to "#{thread.title.truncate(20)}", posts_path(thread.id), class: "titles" %></li>
      <% end %>
    </ul>
  </div>
</span>
<%= link_to '新規スレッド作成', new_newthread_path , class: 'btn-cross' %>