<div style="text-align: center">
  <%= link_to root_path do %>
    <%= image_tag 'weblogo.jpg', class: 'logo', alt: '３ちゃんねる' %>
  <% end %>
</div>
  <div class="kensaku">
    <%= form_with(model: @search, url: searchs_new_path, method: :get) do |f| %>
      <%= f.text_field :search ,:size=>"80" ,:placeholder=>"スレタイ検索"%>
      <%= f.submit :'検索' ,:title => nil %>
    <% end %>
  </div>
<%= link_to '新規スレッド作成', new_newthread_path , class: 'btn-cross' %>
<ul>
  <% @thread.each do |thread, i| %>
    <li><%= link_to "#{thread.id} #{thread.title}",posts_path(thread.id), class: "titles" %></li>
  <% end %>
</ul>