  <h1>
    <%= @newthread.title %>
  </h1>
  
  <div class="kakomi-te1">
    <div class="toukousya">
      <%= @newthread.name %>
    </div>
    <div class="comment">
      <%= @newthread.over_view %>
    </div>
  </div>
    <%= form_with model: @post do |f| %>
      <%= f.text_field :comment%>
    <% end %>