<span class="inline-title">
  <%= link_to root_path do %>
    <%= image_tag 'web_logo.png', class: 'top', alt: '３ちゃんねる' %>
  <% end %>
  <h1 class="inline_title">
    <span class="newthread_title"><%= @newthread.title %></span>
  </h1>
</span>
<div class="kakomi-te1">
  <% @newthread_posts.each.with_index(@start) do |post, index| %>
    <div class="comment">
        <%= @postcount - index %>  <%# ページに対応するcommentを全件取得しページ数に対する番号を引き降順表示させる %>
        <%= post.postname %>
        <%= timedate(post[:created_at]) %>  ID  <%= Digest::MD5.hexdigest("#{request.remote_ip.to_s}#{post.ip_address}")[0,8] %>  <%# ip_addressに対応するハッシュ値を表示 %>
        <br>
        <%= text_url_to_link(simple_format(h(post.comment))).html_safe %>  <%# urlがあればリンク化する %>
        <%  if post.image.present? %>  <%# 画像が貼られたか判断する %>
          <%= image_tag post.image.url %>
        <% end %>
        <img src="/assets/line.png" , alt="コメント仕切り" , class='line'>
    </div>
  <% end %>
</div>
<%= paginate @newthread_posts %>
<%= form_with(model: @post, url: newthread_posts_path(@newthread.id)) do |f| %>
    <div class="image-up">
      <%= f.file_field :image %>
    </div>
    <div class="commentsss">
      <%= f.text_field :postname , :size=>"40" , :placeholder=>"投稿者" , class:'names' %>
    </div>
    <p></p>
      <div class="commentss">
        <div class="center"><%= f.text_area :comment, :placeholder=>"コメント" , class:'comments' %></div>
      </div>
      <div class="push-btn"><%= f.submit "送信" , class:'sousin' , id:'push' %></div>
<% end %>
<input type="button" id="push" onclick="return push()" value="クリックするとプッシュ通知が送られます"/>
    <script>
      function push(){
          Push.create('更新情報');
      }
    </script>
<%= flash[:notice] %>
<%= link_to 'スレッドを削除' , {controller: 'newthreads', action: 'delete'} , class: :delete_btn %>