<h1>
  <%= @newthread.title %>
</h1>
<div class="kakomi-te1">
  <div class="toukousya">
    1  <%= @newthread.name %>  <%= timedate(@newthread[:created_at]) %>  ID  <%= Digest::MD5.hexdigest("request.remote_ip.to_s + #{@newthread.newthread_ip}")[0,8] %>
  </div>
  <div class="comment">
    <%= @newthread.over_view %>
  </div>
  <% @newthread.posts.each.with_index(2) do |post, index| %>
  <img src="/assets/line.png" , alt="コメント仕切り" , class='line' >
    <div class="comment">
      <%  if post.id.present? %>
        <%= index %>
        <%= post.postname %>
        <%= timedate(post[:created_at]) %>  ID  <%= Digest::MD5.hexdigest("request.remote_ip.to_s + #{@post.post_ip}")[0,8] %>
        <br>
        <%= simple_format(post.comment) %>
      <% end %>
    </div>
  <% end %>
</div>
<%= form_with(model: @post, url: newthread_posts_path(@newthread.id)) do |f| %>
    <div class="commentss">
      <%= f.text_field :postname , :size=>"40" , :placeholder=>"投稿者" , class:'names' %>
    </div>
    <p></p>
    <div class="commentss">
      <%= f.text_area :comment, :placeholder=>"コメント" , class:'comments' %>
    </div>
    <div class="sousin-btn">
      <%= f.submit "送信" , class:'sousin' %>
    </div>
<% end %>
<%= flash[:notice] %>
<%= link_to 'スレッドを削除' , {controller: 'newthreads', action: 'delete'} , class: :delete_btn %>