<span class="inline-title">
  <%= link_to root_path do %>
    <%= image_tag 'web_logo.png', class: 'top', alt: '３ちゃんねる' %>
  <% end %>
  <h1 class="inline_title">
    <span class="newthread_title"><%= @newthread.title %></span>
  </h1>
</span>
<div class="kakomi-te1">
  <div class="toukousya">
    1  <%= @newthread.name %>  <%= timedate(@newthread[:created_at]) %>  ID  <%= Digest::MD5.hexdigest("#{request.remote_ip.to_s}#{@newthread.ip_address}")[0,8] %>
  </div>
  <div class="comment">
    <%= text_url_to_link(simple_format(h(@newthread.over_view))).html_safe %>
  </div>
  <% @newthread.posts.each.with_index(2) do |post, index| %>
  <img src="/assets/line.png" , alt="コメント仕切り" , class='line' >
    <div class="comment">
      <%  if post.id.present? %>
        <%= index %>
        <%= post.postname %>
        <%= timedate(post[:created_at]) %>  ID  <%= Digest::MD5.hexdigest("#{request.remote_ip.to_s}#{post.ip_address}")[0,8] %>
        <br>
        <%= text_url_to_link(simple_format(h(post.comment))).html_safe %>
        <%  if post.image.present? %>
          <%= image_tag post.image.url %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<%= paginate @newthread_posts %>
<%= form_with(model: @post, url: newthread_posts_path(@newthread.id)) do |f| %>
    <div class="image-up">
      <%= f.file_field :image %>
    </div>
    <div class="commentss">
      <%= f.text_field :postname , :size=>"40" , :placeholder=>"投稿者" , class:'names' %>
    </div>
    <p></p>
    <div class="commentss">
      <%= f.text_area :comment, :placeholder=>"コメント" , class:'comments' %>
    </div>
      <%= f.submit "送信" , class:'sousin' , id:'push' %>
<% end %>
<input type="button" id="push" onclick="return push()" value="クリックするとプッシュ通知が送られます"/>
    <script>
      function push(){
          Push.create('更新情報');
      }
    </script>
<%= flash[:notice] %>
<%= link_to 'スレッドを削除' , {controller: 'newthreads', action: 'delete'} , class: :delete_btn %>