<h1>検索結果</h1>
  <div class="kensaku">
    <%= form_with(model: @search, url: searchs_new_path, local: true, method: :get) do |f| %>
      <%= f.text_field :keyword ,:size=>"80" ,:placeholder=>"スレタイ検索"%>
      <%= f.submit :'検索' ,:title => nil %>
    <% end %>
  </div>
<% if @searchs.blank? %>
  <div class="none">検索結果がありません。</div>
<% end %>
<div class="result">
  <% @searchs.each do |thread| %>
    <p class="thread_result"><%= link_to "#{thread.title.truncate(25)}", posts_path(thread.id) %>
    <span class="over_views"><%= thread.over_view.truncate(40) %></span>
    </p>
  <% end %>
</div>